apiVersion: v1
kind: Secret
metadata:
  name: secrets
data:
  # base64 encoded "supersekrit" (change this!)
  jwt-secret: c3VwZXJzZWtyaXQ=
  # base64 encoded bucket name (this bucket must exist!)
  storage-bucket: Mzg1aWc=
